footer {
    margin-top: 54px !important;
    height: 40px;
    background-color: white;
    border-top: 1px solid #d6d6d6;
    clear: both;
    width: 100%;
    color: #888888;
}
footer .container {
    padding-top: 10px;
}
footer .container .fa {
    width: 16px;
    text-align: center;
    color: #428bca;
}
footer .container .links > * {
    border-left: 1px solid #d6d6d6;
    padding-left: 8px;
    margin-left: 5px;
}
footer .container .links > *:first-child {
    border-left: none;
}
footer .ui.language .menu {
    max-height: 500px;
    overflow-y: auto;
    margin-bottom: 7px;
}
.hide {
    display: none;
}
.center {
    text-align: center;
}
.img-1 {
    width: 2px !important;
    height: 2px !important;
}
.img-2 {
    width: 4px !important;
    height: 4px !important;
}
.img-3 {
    width: 6px !important;
    height: 6px !important;
}
.img-4 {
    width: 8px !important;
    height: 8px !important;
}
.img-5 {
    width: 10px !important;
    height: 10px !important;
}
.img-6 {
    width: 12px !important;
    height: 12px !important;
}
.img-7 {
    width: 14px !important;
    height: 14px !important;
}
.img-8 {
    width: 16px !important;
    height: 16px !important;
}
.img-9 {
    width: 18px !important;
    height: 18px !important;
}
.img-10 {
    width: 20px !important;
    height: 20px !important;
}
.img-11 {
    width: 22px !important;
    height: 22px !important;
}
.img-12 {
    width: 24px !important;
    height: 24px !important;
}
.img-13 {
    width: 26px !important;
    height: 26px !important;
}
.img-14 {
    width: 28px !important;
    height: 28px !important;
}
.img-15 {
    width: 30px !important;
    height: 30px !important;
}
.img-16 {
    width: 32px !important;
    height: 32px !important;
}
.octicon.icon,
.mega-octicon.icon {
    font-family: octicons;
    font-size: 16px;
    opacity: 1 !important;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
    .ui.container {
        width: 95%;
    }
}