{{template "base/head" .}}

{{template "base/navbar" .}}

<div class="ui container ">
    {{template "base/alert" .}}

    <div id="content"></div>

    {{range .Categories}}
    <div class="ui segment raised">
        <h2 class="ui dividing header">
            <i class="hashtag icon"></i>
            <div class="content">
                {{.HashTag}}
            </div>
        </h2>
        <a style="top: -54px;" class="ui blue right ribbon label">
            {{$.i18n.Tr "images.total"}} {{.Total}}
        </a>

        <div class="ui three column doubling grid container">
            {{range .GetImages}}
            <div class="column">
                <div class="ui card link openModal centered" id="{{.IId}}">
                    <div class="content">
                        <div class="right floated meta">{{.IId}}</div>
                        <div class="floated meta">{{.Id}}</div>
                    </div>
                    <div class="image">
                        <img src="{{.DisplaySrc}}">
                    </div>
                    <div class="content">
							<span class="right floated">
							  <i class="heart outline like icon"></i>
							  {{.Likes}} likes
							</span>
                    </div>
                </div>
            </div>

            <!--{{.Caption}}-->
            <!--{{.DisplaySrc}}-->
            <!--{{.ThumbnailSrc}}-->
            <!--{{.HashTag}}-->

            <!--{{.Width}}-->
            <!--{{.Height}}-->
            <!--{{.Used}}-->
            {{end}}
        </div>
    </div>
    {{end}}

</div>

{{template "base/modal" .}}
{{template "base/footer" .}}